* {
    box-sizing: border-box;
}

:root {
    --primary: #22445a;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: ;
    background-color: var(--primary);
    line-height: 1.5;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    box-shadow: 0 5px 35px;

}

header h1 {
    color: var(--primary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    line-height: 1.5;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

nav a:last-child {
    margin-right: 0;

}

.container {
    position: relative;
}

.myslides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:  white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3 px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after { 
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner {
}

.hero-banner div {
    flex: 0 0 90%;
}

.hero-banner h2 {
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.5;
    display: inline;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {

}

.page-section > div {

}

.page-section p {

}

.flex-container {
    display: flez;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item:hover {
    background-color: var(--primary);
}

.flex-item {
    border: 5px;
    background-color: var(--primary);
    min-height: 200px;
    max-height: 200px;
    flex-basis: calc(50%-1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-size: 110%;
    transition: all 0.5s;
    font-size: 0.9rem;
    display: flex;
    background-blend-mode: soft-light;
}

.flex-item div {
    padding: 8px 10;
}

.flex-item h3 {
    font-size: 1.6rem;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 140%;
}

.contact address a {

}

.contact address a:hover {

}

@media screen and (max-width:) {
    
}

